{{left_sidebar_enabled,right_sidebar_enabled=(False,False)}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<h2>Welcome to Gene4Breed</h2>
{{if display_actions:}}

{{pass}}

<h3>Statistics</h3>
<ul>
    {{for caption, value in stats.iteritems():}}
        <li>{{=caption}}:&nbsp;{{=value}}</li>
    {{pass}}
</ul>
