{{left_sidebar_enabled,right_sidebar_enabled=(False,False)}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<h2>Welcome to Gene4Breed</h2>
{{if display_actions:}}
<h3>Upload experimental data</h3>
<p>Please select one of the following links to import new data to Gene4Breed (csv files).</p>
<ul>
    <li><a href="{{=URL('manager','import_traits')}}">Import traits</a> (to import new traits to Gene4Breed database)</li>
    <li><a href="{{=URL('manager','import_markers')}}">Import markers</a> (to import new markers to Gene4Breed database)</li>
    <li><a href="{{=URL('manager','import_experiment_data')}}">Import experiment data</a> (to import new experiments data to Gene4Breed database)</li>
</ul>
{{pass}}

<div class="row-fluid">
    <div class="span4">
        <h3>Statistics</h3>
        <p>Up to now Gene4Breed database contains: </p>
        <ul>
            {{for caption, value in stats.iteritems():}}
                <li>{{=caption}}:&nbsp;{{=value}}</li>
            {{pass}}
        </ul>
    </div>

    <div class="span4">
        <h3>Latest News</h3>
        {{if len(news) == 0:}}
            <p>No news found</p>
        {{else:}}
        <ul class="main-news">
            {{for new in news:}}
                <li><b>{{=new.title}}</b><br>
                    <em>{{=new.date_published}}</em>
                    <br>
                    <p>{{=new.description}}</p>
                </li>
            {{pass}}
        </ul>
        {{pass}}
    </div>
    <br><br>
</div>
