{{extend 'layout.html'}}
<h2>Management Interface</h2>

<h3>Database</h3>
<ul>
    <li><a href="{{=URL('manager','contact')}}">Contact</a></li>
    <li><a href="{{=URL('manager','experiments')}}">Experiments</a></li>
    <li><a href="{{=URL('manager','plants')}}">Plants</a></li>
    <li><a href="{{=URL('manager','lines')}}">Plant Lines</a></li>
    <li><a href="{{=URL('manager','markers')}}">Markers</a></li>
    <li><a href="{{=URL('manager','marker_values')}}">Marker Values</a></li>
    <li><a href="{{=URL('manager','news')}}">News</a></li>
    <li><a href="{{=URL('manager','species')}}">Species</a></li>
    <li><a href="{{=URL('manager','species_types')}}">Species types</a></li>
    <li><a href="{{=URL('manager','traits')}}">Traits</a></li>
    <li><a href="{{=URL('manager','trait_values')}}">Trait Values</a></li>
    <li><a href="{{=URL('manager','users')}}">Users</a></li>
</ul>

