{{extend 'layout.html'}}
<h2>Analysis Tools</h2>

<h3>Plant genotype comparison (Dendogram)</h3>
<p>
This analysis computes all pair-wise alignments (ClustalW algorithm) and store in similarity matrix. This matrix is used to compute a hierarchical clustering and to create a standard Newick tree file including all selected plants.
</p>

<br>
1 - First, please select a plant species and a typology:
<form enctype="multipart/form-data" action="{{=URL('stats','bio_plant_genotype_comparison')}}" method="post">
    Specie: &nbsp;    
    <select id="species" name="species" onchange="changeSpecies();">
        <option value='select one'>--select specie--</option>
        {{for specie in species:}}
            <option value='{{=specie.id}}'>{{=specie.name}}</option>
        {{pass}}
    </select>
    
    <input type="hidden" id="specie_id" name="specie_id" value="">
    
    <div id="species_types_div"></div>

    <input type="submit" value="Get plants"/>
</form>
    
<script language="javascript">
    function changeSpecies() {
        var speciesopts = document.getElementById("species");
        var specie = speciesopts.options[speciesopts.selectedIndex].value;
        var x = document.getElementById("specie_id");
            x.value = specie;
            ajax('species_types', ['specie_id'], 'species_types_div');    
    };
</script>
